In [6]:
import pandas as pd
import numpy as np
import re

# Create Data

Data can be found here: "https://www.kaggle.com/datasets/ahsenwaheed/youtube-comments-spam-dataset"

In [7]:
dataset_file = r"...\youtube\Youtube-Spam-Dataset.csv"

In [9]:
with open(dataset_file, "r", encoding='utf-8', errors="surrogatepass") as file:
  dataset_youtube = pd.read_csv(file)

to_drop = ['COMMENT_ID','DATE','VIDEO_NAME']
dataset_youtube.drop(to_drop, axis=1, inplace=True)

dataset_youtube.head()

             AUTHOR                                            CONTENT  CLASS
0         Julius NM  Huh, anyway check out this you[tube] channel: ...      1
1       adam riyati  Hey guys check out my new channel and our firs...      1
2  Evgeny Murashkin             just for test I have to say murdev.com      1
3   ElNino Melendez   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            GsMega            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

This dataset contains users that appear in both categories, so we delete them.

Now we are going to take a random sample of 40000 tweets for training and 10000 tweets for testing.

In [12]:
# Take a random sample of 500000 tweets for training set
n = 1600
dataset_train = dataset_youtube.sample(n=n)

# tweets not in training set
dataset_complement = dataset_youtube.loc[dataset_youtube.index.difference(dataset_train.index),:]

# take a random sample of 100k in the complementary set
dataset_test = dataset_complement.sample(n=dataset_youtube.shape[0]-n)

We can save our training and test dataset

In [13]:
dataset_train.to_csv(r'...\youtube\dataset\train.csv')
dataset_test.to_csv(r'...\youtube\dataset\test.csv')

Now we have generated our training and test datasets